<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="PrestaShop">

    <parameter name="browser" value="chrome"/>
    <parameter name="environment" value="http://146.59.32.4/"/>

    <test name="Health Check">
        <classes>
            <class name="utils.health.HealthCheck"/>
        </classes>
    </test>

    <test name="Account">
        <classes>
            <class name="tests.Account"/>
        </classes>
    </test>

    <test name="Help Request">
        <classes>
            <class name="tests.HelpRequest"/>
        </classes>
    </test>

    <test name="Order">
        <classes>
            <class name="tests.Order"/>
        </classes>
    </test>

    <test name="Products">
        <classes>
            <class name="tests.Products"/>
        </classes>
    </test>

</suite>